@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    /*center height with tailwind*/
    @apply flex flex-wrap items-center justify-center h-screen;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background: rgba(2, 0, 36, 1);
}

.play {
    @apply px-4 py-2 bg-blue-950 hover:bg-blue-900 text-white rounded-md shadow-md transition-colors duration-300 ease-in-out;
    height: 3rem;
    width: 15rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 25rem;
    /*fix size*/
}

h2 {
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

text {
    color: white;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(2, 0, 36);
    padding: 20px;
    border-radius: 10px;

}

#chart {
    background: rgb(2, 0, 36);
}

#intro-container {
    max-width: 1400px;
}

/* Ajout du CSS pour la section intro */
#intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    @apply flex-wrap items-center justify-center;
}

#description {
    text-align: justify;
    max-width: 30rem;
    margin: 1em;
    opacity: 0;
    transition: opacity 2s;
}


#description br {
    margin-bottom: 2rem;
}

#map-container {
    min-width: 45rem;
    margin: 1rem;
    opacity: 0;
    transition: opacity 2s;
    transition-delay: 0s;
}

#timeline-map {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem;
}

#timeline-container {
    padding: 1rem 5rem 2rem;
}

#globe-container {
    width: 45%;
}

#intro-container,
#second-chart-container {
    transition: opacity 0.5s ease;
}

#second-chart-container {
    display: flex;
    opacity: 1;
}

#chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

#timeline-perCapita {
    display: block;
    width: 65%;
    text-align: center;
    margin: 3rem auto 20px;
}

.switch {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #183179;
}

input:focus + .slider {
    box-shadow: 0 0 1px #183179;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Round sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.separator{
    position: absolute;
    transform: translate(+50%, +50%);;
}


.year-slider {
    @apply w-full h-2 bg-gray-400 rounded-lg overflow-hidden appearance-none focus:outline-none;
}

.scaleGlobe {
    position: absolute;
    transform: translate(-370%, -100%);;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}